name: Testing

on: [push, pull_request]

jobs:
  buildJar:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up PATH
      run: |
        echo "${ANDROID_HOME}/build-tools/30.0.1" >> $GITHUB_PATH
    - name: Set up JDK 16
      uses: actions/setup-java@v1
      with:
        java-version: 16
    - name: Build mod jars
      run: |
        chmod +x gradlew
        ./gradlew deploy --stacktrace
    - name: Upload built jar file
      uses: actions/upload-artifact@v3
      with:
        name: ${{ github.event.repository.name }}
        path: artifacts/*.jar
